<div class="container mt-3 text-left">
   <img src="../../../assets/60080-blue-automobile-engineering-vector-electrical-mechanical-car.png" width="370px" height="170px">
    <div class="row">
        <div class="show col-10 text-white mt-3">
           Name of car : {{insuranceData.brandName}} <a routerLink="/CarInsurance">edit✎</a>
        </div>

        <div class="show col-10 text-white mt-3">
            Model of car : {{insuranceData.modelName}} <a routerLink="/CarInsurance">edit✎</a>
         </div>

         <div class="show col-10 text-white mt-3">
            Variant of car : {{insuranceData.variantName}} <a routerLink="/CarInsurance">edit✎</a>
         </div>
    </div>
</div>