a {
    color: white;
    margin-left: 2px;
    text-decoration: none;
    border: 1px white;
    border-radius: 3px;
    background-color: darkslateblue;
}

.row{

    margin-top: 20px;
    justify-content: center;
    text-align: center;
}

.show{
    padding: 10px;
    border: 1px solid gray;
    border-radius: 30px;
    background-color:darkcyan;
}