li a{
    padding: 2px;
    color: aliceblue;
    width: 140px;
    text-align: center;
    font-size: small;
    font-weight: 500;

}

.nav-link:hover{
    
    background-color:dodgerblue ;
}

.navbar-brand{
    font-size: xx-large;
    font-weight: 600;
    font-style:italic;
    color: dodgerblue;
}

.bg{
    background-image: url('../../assets/backgroundfinal.jpg');
    height: 150vh;
    
}